Source: uboot-imx
Maintainer: AIY Projects <coral-support@google.com>
Build-Depends: bc, debhelper, device-tree-compiler, gcc-aarch64-linux-gnu, imx-atf, imx-firmware:all, imx-mkimage
Section: misc
Priority: optional

Package: uboot-imx
Section: misc
Priority: optional
Architecture: arm64 armhf
Description: U-Boot for the AIY Board
